@import url("colors.css");

* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
    padding: 3px 3px 3px 3px;
}

#waybar.empty #window{

    border-bottom:0px;

}
#window{
    border-bottom: 3px solid @highlight;
}
window#waybar {
    background: @background;
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: @text ;
}

#workspaces button {
    padding: 0 5px;
    background: @background;
    color: @text;
    border-bottom: 3px solid @highlight;
}

#workspaces button.visible, #workspaces button.focused {
    background:@background-light;
    border-bottom: 3px solid @accent-green;
}

#pulseaudio, #network, #clock {
    padding: 5px 10px;
}

#mode {
    background:@accent-purple;
    padding: 5px 10px;
    border-bottom: 3px solid white;
}

#clock {
    background-color: @background-light;
    border-bottom: 3px solid @accent-purple;
}

#network {
    
    background-color:@background-light;
    border-bottom: 3px solid @warn;

}
#network.disconnected {
    background-color:@background;
    border-bottom: 3px solid @crit;


}

#pulseaudio{
    background-color:@background-light;
    border-bottom: 3px solid @frost-green;

}
@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}


